################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SEDiscordBridge/v16/Server/sqlite3
/.vs/SEDiscordBridge/v16/Server/sqlite3
/GameBinaries
/SEDiscordBridge/obj/Debug
/TorchBinaries
/packages
/SEDiscordBridge/bin/Debug
/SEDiscordBridge/Properties
/SEDiscordBridge/app.config
/SEDiscordBridge/FodyWeavers.xml
/.vs/SEDiscordBridge/v15
/.gitattributes
/.vs/SEDiscordBridge/v16/.suo
