################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SEDiscordBridge/v16/Server/sqlite3
/.vs/SEDiscordBridge/v16/Server/sqlite3
/GameBinaries
/SEDiscordBridge/obj/Debug
/SEDiscordBridge/SEDiscordBridge.csproj
/TorchBinaries
/packages
/SEDiscordBridge/bin/Debug
/SEDiscordBridge/Properties
/SEDiscordBridge/app.config
/SEDiscordBridge/FodyWeavers.xml
/.vs/SEDiscordBridge/v15
/.gitattributes
/.vs/SEDiscordBridge/v16/.suo
/.vs/SEDiscordBridge/v17

SEDiscordBridge/bin/x64/Debug/

SEDiscordBridge/bin/x64/Release/

SEDiscordBridge/obj/x64/Debug/

SEDiscordBridge/obj/x64/Release/
